<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="vdir" xmlns="qikviewws"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler"/>
      <add name="httpplatformhandler"
           path="*"
           verb="*"
           modules = "httpPlatformHandler"
           resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="./qikviewws.exe"
                  arguments=""
                  stdoutLogEnabled="true"
                  stdoutLogFile="./qikviewws.log"
                  startupTimeLimit="20"
                  requestTimeout="00:05:00">
      <environmentVariables>
        <environmentVariable name="XYZ" value="/QIKVIEWWS" />
      </environmentVariables>

    </httpPlatform>
  </system.webServer>
</configuration>
